body{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    /* Animation du fond */
    animation: changeColor 5s infinite alternate; /* Alternance infinie toutes les 5 secondes */
    
}

@keyframes changeColor {
    from {
        background-color: #ffffff; /* Couleur de départ */
    }
    to {
        background-color: #9b9b9b; /* Couleur de fin */
    }
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Aliment PERSONAL USE', sans-serif;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Aliment PERSONAL USE', sans-serif;
}


.icons{
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border-radius: 5px; /* Optional border radius */
    transition: all 0.2s ease;
}
.icons:hover {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}


#recherche{
    display: block;
    background-color: #E04750;
    border: 5px #2D2D36 solid;
    border-radius: 10px;
    width: auto;
    text-align: center;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

a{
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Aliment PERSONAL USE', sans-serif;
    align-items: center;
    justify-content: center;
}

a:visited{
    color:inherit;
    text-decoration: none;

}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#InfoPage{
    display: flex;
    width:80%;
 

}

.ouverture {
    flex: 0 0 calc(33.33% - 20px); /* Utilisez flex pour ajuster la largeur de chaque article et calc pour gérer les marges */
    border: 1px solid #ff0000;
    padding: 15px;
    margin: 10px;
    position: relative; /* Position relative pour positionner les détails par rapport à l'article */
    box-sizing: border-box; /* Incluez la bordure et le rembourrage dans le calcul de la largeur */
    display: flex;
    justify-content:space-between;
    flex-flow: row-reverse;
}


#contact_container{
    display: flex;
    background-color: #E04750;
    border: 5px #2D2D36 solid;
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}


#contact{
    display: inline-flex;
    width: fit-content;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}


.details {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px;
    z-index: 1; /* Pour s'assurer que les détails apparaissent au-dessus des autres éléments */
}

.ouverture:hover .details {
    display: block;
}
.article p {
    font-size: 1.2em; /* Ajustez la taille de la police du texte du paragraphe */
}

#Perso{
    display: flex;
    justify-content: center;
    font-family: 'Aliment PERSONAL USE', sans-serif;
}
